<md-dialog flex="90" aria-label="Signup" ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content" flex>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>First name</label>
                        <input ng-model="ctrl.user.firstName">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="ctrl.user.lastName">
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="email" ng-model="ctrl.user.email">
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-model="ctrl.user.password">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Confirm</label>
                        <input ng-model="ctrl.confirmPassword">
                    </md-input-container>
                </div>

                <div layout layout-sm="column" flex>
                    <md-input-container flex>
                        <label>Skills</label>
                        <md-chips ng-model="ctrl.user.skills"></md-chips>
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Languages</label>
                        <md-chips ng-model="ctrl.user.languages"></md-chips>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button class="md-primary" ng-click="ctrl.signup()">
                Signup
            </md-button>
            <md-button ng-click="ctrl.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>