<div layout="column">
    <div layout style="background-color: #abd4bd">
        <div layout layout-padding flex>
            <div>
                <img ng-src="/img/pics/{{ ctrl.user.id }}.png" class="md-avatar" width="200">
            </div>

            <div flex layout="column">
                <h1>{{ ctrl.user.firstName }} {{ ctrl.user.lastName }} <md-icon md-font-library="material-icons">online</md-icon></h1>

                <b>Skills</b>
                <md-chips ng-model="ctrl.user.skills" readonly="true"></md-chips>

                <b>Languages</b>
                <md-chips ng-model="ctrl.user.languages" readonly="true"></md-chips>

            </div>

            <md-whiteframe class="md-whiteframe-1dp" style="background-color: #ffffff" layout-paddingx layout="column" layout-align="center center">
                <div>Likelihood of Reply: 89%</div>
                <div>Response Time: within a few hours</div>

                <div flex></div>

                <a href="/code/">
                    <md-button class="md-raised md-primary" style="background-color: #e4574b;">
                        <md-icon md-font-library="material-icons">call</md-icon>
                        Get Help from {{ctrl.user.firstName}}
                    </md-button>
                </a>

            </md-whiteframe>
        </div>
    </div>

    <div layout="column" layout-margin>

        <h3>About Me</h3>

        <md-whiteframe class="md-whiteframe-1dp" style="background-color: white" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-padding>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In purus est, maximus eu sagittis sed, malesuada nec diam. Sed nec urna nec nulla consectetur hendrerit quis in est. Pellentesque sed efficitur ligula. In ornare justo nec est pulvinar tempor. Sed lacinia sit amet leo sit amet sagittis. Vivamus a lobortis metus. Cras sit amet egestas metus. Morbi gravida, sem eu faucibus pellentesque, turpis lacus hendrerit quam, vitae lobortis erat lorem porta massa. Nulla dignissim dictum turpis, sit amet accumsan tortor lacinia et. Nulla non eros et leo tincidunt rutrum. Fusce mattis magna non aliquet elementum.</p>

            <p>Pellentesque ac mi velit. Ut cursus, metus nec mollis finibus, ex ipsum gravida mauris, a commodo quam ipsum ut libero. Duis ut purus eget velit suscipit vehicula. Pellentesque vehicula, leo sed aliquam egestas, nisi est aliquam tortor, nec finibus odio orci vitae odio. Proin leo massa, commodo efficitur dolor id, consequat vestibulum elit. Ut elementum dolor a mollis tincidunt. Nam venenatis odio sem, sed congue turpis fermentum et. Quisque vel iaculis sem, ac fringilla felis. Quisque lobortis rutrum est, eu lobortis sapien bibendum fermentum. Nam vitae leo placerat, aliquet nibh sit amet, bibendum eros. Cras viverra purus sit amet justo cursus, quis varius velit tincidunt. Sed eget consequat metus. Nulla maximus ac nisi at eleifend. Vivamus facilisis fringilla feugiat. Maecenas posuere aliquam ipsum eu ornare.</p>
        </md-whiteframe>
    </div>
</div>