<div layout="column">
    <div layout style="background-color: #abd4bd">
        <div layout layout-padding flex>
            <div>
                <img ng-src="/img/ryan.jpg" class="md-avatar" width="200">
            </div>

            <div flex layout="column">
                <h1>{{ ctrl.user.firstName }} {{ ctrl.user.lastName }} <md-icon md-font-library="material-icons">online</md-icon></h1>

                <b>Skills</b>
                <md-chips ng-model="ctrl.user.skills" readonly="true"></md-chips>

                <b>Languages</b>
                <md-chips ng-model="ctrl.user.languages" readonly="true"></md-chips>

            </div>

            <md-whiteframe class="md-whiteframe-1dp" style="background-color: #ffffff" layout-paddingx layout="column" layout-align="center center">
                <div>Likelihood of Reply: 89%</div>
                <div>Response Time: within a few hours</div>

                <div flex></div>

                <a href="/code/">
                    <md-button class="md-raised md-primary" style="background-color: #e4574b;">
                        <md-icon md-font-library="material-icons">call</md-icon>
                        Get Help from {{ctrl.user.firstName}}
                    </md-button>
                </a>

            </md-whiteframe>
        </div>
    </div>

    <div layout="column" layout-margin>

        <h3>About Me</h3>

        <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-padding>
            <span>{{ ctrl.user.aboutMe }}</span>
        </md-whiteframe>
    </div>
</div>