<div layout="column">
    <div layout="column" layout-padding style="background-color: #abd4bd">
        <div>Find a <b>JavaScript</b> mentor...</div>
    </div>

    <div layout layout-margin layout-padding>
        <div layout="column" flex="25">
            <md-whiteframe class="md-whiteframe-1dp" style="background-color: white" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-align="center center">
                <span>filters</span>
            </md-whiteframe>
        </div>
        <md-list flex="75">
            <md-list-item class="md-3-line" ng-repeat="user in ctrl.users">
                <img ng-src="/img/pics/{{user.id}}.png" class="md-avatar" alt="{{item.who}}">
                <div class="md-list-item-text" layout="column">
                    <h3><a href="/profile/?{{user.id}}">{{ user.firstName }} {{ user.lastName }}</a></h3>
                    <p><md-chips ng-model="user.skills" readonly="true"></md-chips></p>
                </div>
                <a href="/profile/?{{user.id}}"><md-button class="md-raised">View Profile</md-button></a>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
